<nav class="navigation" role="navigation">
	<ul>
		<li><a href="{{ site.baseurl }}/">Introduction</a></li>
		<li>Authoring guidelines
			<ul>
				<li><a href="{{ site.baseurl }}{% link authoring-guidelines/authoring-guidelines.md %}">General guidelines</a></li>
				<li><a href="{{ site.baseurl }}{% link authoring-guidelines/writing-html.md %}">Writing HTML</a></li>
				<li><a href="{{ site.baseurl }}{% link authoring-guidelines/writing-css-sass.md %}">Writing CSS/Sass</a></li>
				<li><a href="{{ site.baseurl }}{% link authoring-guidelines/writing-javascript.md %}">Writing JavaScript</a></li>
				<li><a href="{{ site.baseurl }}{% link authoring-guidelines/writing-microcopy.md %}">Writing microcopy</a></li>
			</ul>
		</li>
		<li>Tools
			<ul>
				<li><a href="{{ site.baseurl }}{% link tools/felinesoft-frameworks.md %}">Our front-end frameworks</a></li>
				<li><a href="{{ site.baseurl }}{% link tools/browser-support.md %}">Browser support and testing</a></li>
				<li><a href="{{ site.baseurl }}{% link tools/build-tools.md %}">Build tools and Gulp</a></li>
				<li><a href="{{ site.baseurl }}{% link tools/pattern-libraries.md %}">Pattern and component libraries</a></li>
				<li><a href="{{ site.baseurl }}{% link tools/version-control.md %}">Version control</a></li>
			</ul>
		</li>
		<li>Front-end concepts
			<ul>
				<li><a href="{{ site.baseurl }}{% link concepts/responsive-design.md %}">Responsive design</a></li>
				<li><a href="{{ site.baseurl }}{% link concepts/atomic-design.md %}">Atomic design</a></li>
				<li><a href="{{ site.baseurl }}{% link concepts/user-experience.md %}">User experience</a></li>
				<li><a href="{{ site.baseurl }}{% link concepts/accessibility.md %}">Accessibility</a></li>
				<li><a href="{{ site.baseurl }}{% link concepts/progressive-enhancement.md %}">Progressive enhancement</a></li>
				<li><a href="{{ site.baseurl }}{% link concepts/performance.md %}">Performance</a></li>
				<li><a href="{{ site.baseurl }}{% link concepts/security.md %}">Security</a></li>
			</ul>
		</li>
		<li>Troubles in Microsoftland
			<ul>
				<li><a href="{{ site.baseurl }}{% link troubleshooting/gulp-vs2015.md %}">Using Gulp in Visual Studio</a></li>
				<li><a href="{{ site.baseurl }}{% link troubleshooting/webfonts-on-azure.md %}">Using webfonts on Azure hosting</a></li>
				<li><a href="{{ site.baseurl }}{% link troubleshooting/vs-bom.md %}">Weird/unexplained spaces in layouts</a></li>
				<li><a href="{{ site.baseurl }}{% link troubleshooting/asp-will-trip-you-up.md %}">Other ways ASP.NET will cause pain</a></li>
			</ul>
		</li>
	</ul>
</nav>