*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    color: $color-text-primary;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $font-leading;
}

.wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 32em;
}

.header {
    padding: 10% 0 4%;
    background-color: $color-tertiary;
    &__branding a {
        display: block;
        padding-top: 70px;
        background-image: url("icon.png");
        background-position: top left;
        background-repeat: no-repeat;
        color: #fff;
        font-size: 4vmax;
        line-height: 1.125;
        text-decoration: none;
    }
}

.navigation {
    margin: 20px 0 0;
    padding: 20px 0 0;
    border-top: 1px solid $color-divider;
    list-style: none;
    -webkit-column-width: 200px;
       -moz-column-width: 200px;
            column-width: 200px;
    &__item {
        &--current {

        }
    }
    &__link {
        text-decoration: none;
    }
}

.main {
    padding-top: 5%;
    padding-bottom: 5%;
    a {
        color: $color-primary-dark;
        &:hover,
        &:focus {
            color: $color-secondary;
        }
    }
    .highlight,
    .table {

    }
}

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid $color-divider;
    color: $color-text-secondary;
}

.highlight {
    padding: 5px;
    border: 1px solid $color-divider;
    overflow: auto;
    pre { 
        margin: 0; 
    }
}

.article {
    &__header {
        margin-bottom: 20px;
        border-bottom: 1px solid $color-divider;
    }
    &__title {
        
    }
    &__body {

    }
}

.content {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 1em;
        margin-bottom: 15px;
    }
    h1 {
        font-size: 1.802em;
    }
    h2 {
        font-size: 1.602em;
    }
    h3 {
        font-size: 1.424em;
    }
    h4 {
        font-size: 1.266em;
    }
    h5 {
        font-size: 1.125em;
    }
}